body{
    background-color: #414141;
    color:white;
    font-family:'Oxanium', cursive;
}

/* .nav-container{
     margin: 0 auto; 
} */

.main-nav{
    display: flex;
    max-width: 100%;
    justify-content: center;
}

.logo{
    width:15%;
}

.main-nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width:35%;
}

/* 
font-family: 'Bai Jamjuree', sans-serif;
font-family: 'Oxanium', cursive;
 */